---
import Button2 from "../../reactComponents/Button2"
import HeroImg from "../../../imgs/hero-img.jpg"
import { Image } from "astro:assets"
// import Image from "astro/components/Image.astro"
import "./Hero.css"
---
<main>
    <Image src={HeroImg} alt="woman-riding-bike" />
    <div class="main-content">
        <h1>We scratch, build and play together</h1>
        <p>Et has minim elitr intellegat. Mea aeterno eleifend antiopam ad, nam no suscipit quaerendum. At nam minimum ponderum. Est audiam animal molestiae te. Ex duo eripuit mentitum.</p>
        <Button2>Contact Us</Button2>
    </div>
</main>