.button-1,
.button-2 {
  padding: 12px 18px;
  border-radius: 6px;
  background-color: #F73C6B;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
}
.button-1:hover,
.button-2:hover {
  border: 1px solid #F73C6B;
  color: #F73C6B;
  background-color: transparent;
  padding: 11px 17px;
}
.button-2 {
  border: 1px solid #F73C6B;
  border-radius: 0px;
  color: #F73C6B;
  background-color: transparent;
}
.button-2:hover {
  background-color: #F73C6B;
  color: #FFFFFF;
  padding: 12px 18px;
  border: 1px solid #F73C6B;
}
