---
// import astroLogo from "../assets/astro.svg";
// import background from "../assets/background.svg";
import Button from "./Component/Button";
import "../style/global.css"
---
<div>
	<h1 class="">Este é um projeto criado com Astro + React e estilização em less.js</h1>
	<Button client:load>Oioioi</Button>
</div>
