---
// import astroLogo from "../assets/astro.svg";
// import background from "../assets/background.svg";
// import Button from "./jsx/Button";
---
	<link rel="stylesheet" href="../styles/global.less">
<div>
	<h1 class="">Este é um projeto criado com Astro + React e estilização em less.js</h1>
</div>
