---
import HeaderComponent from "./Header/index.astro";
import HeroComponent from "./Hero/index.astro";
import "./heroWrapper.css"
---

<div class="HeroWrapper">
    <HeaderComponent />
    <HeroComponent />
</div>