header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  width: 82.81%;
}
nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
a {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #4F4F4F;
  cursor: pointer;
  font-style: normal;
}
a:hover {
  color: #4F55DD;
}
.loginWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
