@font-face {
  font-family: 'Nunito';
  src: url(https://fonts.gstatic.com/s/nunito/v26/XRXK3I6Li01BKofIMPyPbj8d7IEAGXNirXA3ig.ttf) format('truetype');
  font-style: normal;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  width: 82.81690141%;
}
nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
a {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #4F4F4F;
  cursor: pointer;
  font-style: normal;
}
a:hover {
  color: #4F55DD;
}
.loginWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
